html {
    background: linear-gradient(to left, transparent, #304C89 120%),
      url("./images/homeMain.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      height: 100%;
      overflow: scroll;
  }
  